CLOUDFLARE_API_TOKEN=PUT_CLOUDFLARE_API_TOKEN_HERE
CLOUDFLARE_ACCOUNT_ID=defdbbc734c3da2b53c6f6f163197115
CLOUDFLARE_D1_DATABASE_NAME=vesper-account-db
CLOUDFLARE_D1_DATABASE_ID=00a008ad-162b-4f2a-9d03-063571098ab6
PUBLIC_API_BASE_URL=https://vesper-account-api-3516.vesperlauncher3516.workers.dev
GITHUB_STORAGE_OWNER=PUT_GITHUB_OWNER_HERE
GITHUB_STORAGE_REPO=vesper-private-nicknames
GITHUB_STORAGE_BRANCH=main
GITHUB_STORAGE_TOKEN=PUT_GITHUB_TOKEN_HERE_FOR_LOCAL_DEV_ONLY
GITHUB_STORAGE_COMMITTER_NAME=Vesper Launcher
GITHUB_STORAGE_COMMITTER_EMAIL=vesper-launcher@users.noreply.github.com
